<div class="page-title">
  <h1>Approval Matrix</h1>
</div>
<div class="page-btns-col">
  <div class="dt-buttons">
    <button class="gray-btns" type="button"><i class="las la-file-csv"></i> CSV</button>
    <button class="gray-btns" type="button"><i class="las la-file-excel"></i> Excel</button>
    <button class="gray-btns" type="button"><i class="las la-file-pdf"></i> PDF</button>
    <div class="table-search"><input type="text" class="form-control" name="name" id="name" placeholder="Search here"
        required=""></div>
  </div>
  <div class="btn-group">
    <button type="button" (click)="onAdd()" class="add-btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Add New
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item"><i class="las la-plus"></i> Create new approval matrix</a></li>
      <li><a class="dropdown-item" href="#"><i class="las la-layer-group"></i> Bulk Upload</a></li>
    </ul>
  </div>
</div>
