<div class="common-modal">
  <div class="modal-header">
    <div class="modal-title w-100 small-title">{{ heading }}</div>
    <button type="button" class="btn-close" (click)="onCancel()" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body pt-2 mb-0">
    <div class="user-form text-center">
      <p>{{ message }}</p>
      <form>
        <div class="detail-btns">
          <button type="button" (click)="onConfirm()" class="check-detail-btn"><img src="./assets/images/check-icon.png"
              alt=""></button>
          <button type="button" (click)="onCancel()" class="cross-detail-btn"><img src="./assets/images/cross-icon.png"
              alt=""></button>
        </div>
      </form>
    </div>
  </div>
</div>
